/* Alexander Ehrnstrasser */
/* CSS für Login und Registrierung */



body {
 	font-family: Helvetica, Arial, Verdana;
 	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100vh;
  	background-image: url(../../img/Login.JPG);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

main{
 width: 38%;
 padding: 1.5em;
 background-color: rgba(255, 255, 255, 0.7);
 
}


h1{
	text-align: center;
}


label{
	min-width: 8em;
	display: inline-block;
	text-align: left;
	margin-right: 10%;
}

.nomargin{
	margin-right: 0;
}

.zentrieren{
	text-align: center;
}

button {
	font-size: 15px;
	background-color:#acacac;
	color: #000000;
	width: 10em;
	transition-duration: 0.5s;
  	cursor: pointer;
  	margin: 0 auto;
}


.anmeldebutton{
	width: 75%;
	margin-bottom: 10%;
}

/*Code wurde von https://www.w3schools.com/css/css3_buttons.asp übernommen und leicht angepasst*/

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
  color: white;
}

button:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}

/*Ende des übernommenen Codes*/

input{
	width: 60%;
	height: 30px;
}

input[type="radio"] {
	width: auto;
	margin-right: 0;
}

input:focus {
  background-color: #baf9ff;
  border: 2px solid #85b6ff;
}

input:required + span::after{
	color: red;
	content: " *";
}

input:valid + span::after{
	color:green;
	content: " ✓";
}

select:required + span::after{
	color: red;
	content: " *";
}

select:valid + span::after{
	color:green;
	content: " ✓";
}


form div{
	padding: 0.3em;
	padding-left: 8%;
}

div{
	padding: 0.3em;
	padding-left: 8%;
}

select{
	font-size: 1em;
	padding-bottom: 2%;
}


#team{
	vertical-align: top;
}