/* Alexander Ehrnstrasser */
/* CSS für Login und Registrierung */



body {
 	font-family: Helvetica, Arial, Verdana;
 	display: flex;
  	align-items: center;
  	justify-content: center;
	height:100vh;
  	background-image: url(../../img/Login.JPG);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

main{
 width: 300px;
 /*margin: 0px auto;*/
 background-color: rgba(255, 255, 255, 0.7);
 
}

label{
	min-width: 8em;
	display: inline-block;
	text-align: left;
}

input{
	width: 20em;
	height: 30px;
	font-size: 20px;
	/*margin-top: 10px;
	margin-bottom: 10px;*/
}

input[type="radio"] {
	width: auto;
}

form div{
	padding: 0.2em;
}

fieldset{
	padding: 1.5em;
	border-radius: 5px;
	margin-bottom: 80px;
}