#logout-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px 20px;
	background-color: #C0C0C0;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

body {
	font-family: Arial;
}

/* Styling for the navigation */
nav {
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #000000;
	color: #fff;
	padding: 10px;
}

/* Styling for the navigation links */
nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

/* Styling for the active link */
nav .active {
	background-color: #fff;
	color: #333;
}

main {
	background-color: #fff;
	padding: 20px;
}

footer {
	background-color: #000000;
	color: #fff;
	padding: 20px;
	width: 100%;
	position: auto;
	text-algin: center;
	bottom: 0;
}

footer table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

td, th {
	padding: 8px;
	text-align: left;
	width: 25%;
}

/* Styling für die Tabellenüberschrift */
th {
	font-size: 18px;
	font-weight: bold;
}