#logout-btn {
	top: 10px;
	right: 10px;
	padding: 10px 20px;
	background-color: #C0C0C0;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


body {
	font-family: Arial;
	 margin-left: 0;
}

/* Styling for the navigation */
nav {
	display: flex !important;
	justify-content: space-between !important;
	background-color: #000000;
	margin-top: 0;
  margin-left: 0;
	color: #fff;
	padding: 10px;
	
}

/* Styling for the navigation links */
nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav .active {
	background-color: #fff;
	color: #333;
}

main {
	background-color: #fff;
	padding: 20px;
}

footer {
	background-color: #000000;
	color: #fff;
	padding-top: 50px;
  	padding-bottom: 50px;
	width: 100%;
	position: auto;
	text-algin: center;
	bottom: 0;
}

footer table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

footer td, th {
	padding: 8px;
	text-align: left;
	width: 25%;
}

/* Styling für die Tabellenüberschrift */
footer th {
	font-size: 18px;
	font-weight: bold;
}

footer img {
	display: block;
  float: center;
}