#logout-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #C0C0C0;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
}

*{
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	color: #fff;
	padding: 10px;
	margin-bottom: 50px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav .active {
	background-color: #fff;
	color: #333;
}

body {
	font-family: Helvetica, Arial, Verdana;
	margin: 0;
	padding: 0;
}


main {
  	background-color: #ffffff;
}

main h1{
	text-align: center;
	color: #000000;
}

main table{
	border-collapse: collapse;
   	border: 1px solid silver;
	background-color: #fff; 
	width: 80%;
	margin-bottom: 80px;
}

main th {
	background-color: #acacac;
	color: #000000;
	font-size: 1.25rem;
	border: solid 1px grey;
	height: 40px;
	padding: 10px; 
}

main td {
	border: solid 1px grey; 
	font-size: 1.05rem;
	height: 40px;
	padding: 10px; 
	}

	
fieldset{
	padding: 1.5em;
	border-radius: 5px;
	margin-bottom: 40px;
}

.zentrierteschrift{
	text-align: center;
}

.datumsspalte{
	width: 120px;
	text-align: center;
}

.langertextspalte{
	width: 400px;
}

.uhrzeitspalte{
	width: 100px;
	text-align: center;
}

.buttonspalte{
	width: 120px!important;
}


.zentrieren{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

label{
	min-width: 8em;
	display: inline-block;
	text-align: left;
}

#trainer_eingabe {
	vertical-align: top;
}

input{
	width: 20em;
	height: 30px;
}

input[type="radio"], input[type="time"], input[type="date"] {
	width: auto;
}

input:focus {
  background-color: #baf9ff;
  border: 2px solid #85b6ff;
}

#abwesenheit_eingabe{
	width: 15em;
}

#nachname{
	width: 30em;
}

textarea{
	font-family: Helvetica, Arial, Verdana;
	font-size: 15px;
	width: 100%;
	border: 1px solid black;
}

textarea:focus {
  background-color: #baf9ff;
  border: 2px solid #85b6ff;
}


form div{
	padding: 0.2em;
}

button {
	font-size: 15px;
	background-color:#acacac;
	color: #000000;
	width: 10em;
	transition-duration: 0.4s;
  	cursor: pointer;
}

button:hover{
  background-color: #555555;
  color: white;
}


.zubutton{
	width: 3em;
	transition-duration: 0.4s;
    cursor: pointer;
}

.zubutton:hover{
	background-color: #5ec734;
  color: white;
}


.abbutton{
	width: 3em;
	transition-duration: 0.4s;
    cursor: pointer;
}

.abbutton:hover{
	background-color: #c7070c;
  color: white;
}



footer {
	background-color: #000000;
	color: #fff;
	padding-top: 25px;
  	padding-bottom: 25px;
	width: 100%;
	position: auto;
}

footer table {
	margin: 0 auto;
}


footer th {
	width: 350px;
	font-size: 18px;
	font-weight: bold;
}


footer td, th {
	text-align: left;
}

footer img {
	float: left;
	padding-left: 60px;
}
